@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #ebebeb;
  cursor: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
div {
  @apply tracking-tight leading-none;
}

/* 1440px 이상 */
@media (min-width: 1440px) {
  .container {
    @apply mx-auto max-w-[1190px];
  }
}

@media (max-width: 1440px) {
  .container {
    @apply mx-auto max-w-[1190px];
  }
}

@media (max-width: 1279px) {
  .container {
    @apply mx-auto max-w-[860px];
  }
}

@media (max-width: 1024px) {
  .container {
    @apply mx-auto px-[70px];
  }
}

@media (max-width: 580px) {
  .container {
    @apply mx-auto px-[25px];
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
  }
}
