@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #ebebeb;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
div {
  @apply tracking-tight leading-none;
}

.container {
  @apply max-w-[1160px] mx-auto;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
